<HEADER>Simple Blog</HEADER>
<div id="horizontal">
	<nav>Menu <br><br>
	<%= link_to 'Back', articles_path %>
	</nav>
	<article>
	  <strong>Title:</strong>
	  <%= @article.title %>
	<br>
	  <strong>Text:</strong>
	  <%= @article.text %>
	
	<h2>Comments</h2>
	<%= render @article.comments %>
	
	<h2>Add a comment:</h2>
	<%= render 'comments/form' %><br><br>
	
	<%= link_to 'Edit', edit_article_path(@article) %>
	</article>
	<nav>Sponsored Links <br><br>
	<a href="https://www.google.com">Google</a>
	</nav>
</div>